@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/card.scss";

.home {
  background-color: #efefef;
}

.at-card__header {
  border-bottom: none;
}

.card-top {
  margin-top: 20px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-group {
  
}

.stat-title {
  color: #999;
}

.stat-number {
  font-size: 1.6em;
}
